[submodule "hafen-minion"]
	path = hafen-minion
	url = https://github.com/TheKrush/hafen-minion.git
[submodule "hafen-map-combiner"]
	path = hafen-map-combiner
	url = https://github.com/TheKrush/hafen-map-combiner.git
[submodule "hafen-layer-util"]
	path = hafen-layer-util
	url = https://github.com/TheKrush/hafen-layer-util.git
[submodule "hafen-client"]
	path = hafen-client
	url = https://github.com/TheKrush/hafen-client.git
